<div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h1 class="compo-title">Kipling content types</h1>
    
        <div class="compo-module-sm">
          <h2 class="h3 compo-module-title m-header-regular">General</h2> 
          <ul class="compo-module-items">
            <li><LinkTo @route="general.image" class="primary-link">Image</LinkTo></li>
            <li><LinkTo @route="general.typography" class="primary-link">Typography</LinkTo></li>
            <li><LinkTo @route="general.button" class="primary-link">Button</LinkTo></li>
            <li><LinkTo @route="general.title" class="primary-link">Title</LinkTo></li>
          </ul>
        </div>

        <div class="compo-module-sm">
          <h2 class="h3 compo-module-title m-header-regular">Banner</h2> 
          <ul class="compo-module-items">
            <li><a href="banner.html" class="primary-link">Standard text positions</a></li>
            <li><a href="banner-mobile-text-position-overrides.html" class="primary-link">Mobile text position examples</a></li>
            <li><a href="banner-custom-styles.html" class="primary-link">Customised styling examples</a></li>
            <li><a href="banner-hover.html" class="primary-link">Banner hover styles</a></li>
            <li><a href="banner-grid.html" class="primary-link">Banner grid</a></li>
            <li><a href="banner-hotspot.html" class="primary-link" style="color:blue;">Banner hotspot</a></li>
          </ul>
        </div>
    
        
        <div class="compo-module-sm">
        <h2 class="h3 compo-module-title m-header-regular">Video</h2> 
        <ul class="compo-module-items">
          <li><a href="video.html" class="primary-link">Standard video embded</a></li>
          <li><a href="video-title.html" class="primary-link">Standard video embed with title option</a></li>
          <li><a href="video-yt.html" class="primary-link">Youtube video embed</a></li>
          <li><a href="video-yt-title.html" class="primary-link">Youtube video embed with title option</a></li>
          <li><a href="video-bg.html" class="primary-link">Background video</a></li>
          <li><a href="video-bg-banner.html" class="primary-link">Background video in banner</a></li>
          <li><a href="video-bg-overlay.html" class="primary-link">Background video + overlay</a></li>
          <li><a href="video-bg-overlay-banner.html" class="primary-link">Background video + overlay in banner</a></li>
        </ul>
        </div>
    
        <div class="compo-module-sm">
        <h2 class="h3 compo-module-title m-header-regular">Slider</h2> 
        <ul class="compo-module-items">
          <li><a href="slider.html" class="primary-link">Slider</a></li>
        </ul>
        </div>
        
        <div class="compo-module-sm">
          <h2 class="h3 compo-module-title m-header-regular">Card</h2> 
          <ul class="compo-module-items">
            <li><a href="card.html" class="primary-link">Single card examples</a></li>
            <li><a href="card-list.html" class="primary-link">Card list</a></li>
          </ul>
        </div>
    
        <div class="compo-module-sm">
          <h2 class="h3 compo-module-title m-header-regular">Collection</h2> 
          <ul class="compo-module-items">
            <li><a href="collection.html" class="primary-link">Single collection example</a></li>
            <li><a href="collection-block.html" class="primary-link">Collection block</a></li>
            <li><a href="collection-card-list.html" class="primary-link">Collection + card list</a></li>
            <li><a href="collection-card-list-layouts.html" class="primary-link">Collection + card list alternative layouts</a></li>
            <li><a href="advanced-collection-grid.html" class="primary-link">Advanced collection grid</a></li>
          </ul>
        </div>
    
        <div class="compo-module-sm">
        <h2 class="h3 compo-module-title m-header-regular">Split block</h2> 
        <ul class="compo-module-items">
          <li><a href="split-block.html" class="primary-link">Split block with images</a></li>
          <li><a href="split-block-vd.html" class="primary-link">Split block with video</a></li>
        </ul>
        </div>
    
        <div class="compo-module-sm">
        <h2 class="h3 compo-module-title m-header-regular">Form</h2> 
        <ul class="compo-module-items">
          <li><a href="form.html" class="primary-link" style="color:blue;">Form</a></li>
        </ul>
        </div>
    
        <div class="compo-module-sm">
        <h2 class="h3 compo-module-title m-header-regular">Social app</h2> 
        <ul class="compo-module-items">
          <li><a href="instagram-feed.html" class="primary-link" style="color:blue;">Instagram feed</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>